.header {
  text-align: center;
  margin: 20px 0;
}

.header mat-icon {
  font-size: 50px;
  color: #3f51b5;
}

.contenedor {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.campo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mensaje {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}


.titulo {
  text-align: center;
  margin: 20px 0;
  color: #1a237e;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  padding: 10px;
}
